= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  %h2 Sign up
  = devise_error_messages!
  = f.email_field :email, :autofocus => true, placeholder: 'email', class: 'form-control'
  = f.password_field :password, placeholder: 'password', class: 'form-control'
  = f.password_field :password_confirmation, placeholder: 'password confirmation', class: 'form-control'
  %div= f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block'
  = render "devise/shared/links"
