= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  %h3 Change your password
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  = f.password_field :password, :autofocus => true, class: 'form-control'
  = f.password_field :password_confirmation, class: 'form-control'
  %div= f.submit "Change my password", class: 'btn btn-lg btn-primary btn-block'
  = render "devise/shared/links"
