= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  %h3 Forgot your password?
  = devise_error_messages!
  %div
    = f.email_field :email, :autofocus => true, class: 'form-control'
  %div= f.submit "Send me reset password instructions", class: 'btn btn-lg btn-primary btn-block'
  = render "devise/shared/links"
