= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %h2.form-signin-heading Sign in
  %div
    = f.email_field :email, :autofocus => true, class: 'form-control'
  %div
    = f.password_field :password, class: 'form-control'
  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me
      = f.label :remember_me
  %div= f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block'
  = render "devise/shared/links"


