#myModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title= "Country #{@visited_country.country.try(:name)}"
      .modal-body
        = form_for @visited_country, remote: true do |f|
          - if @visited_country.errors.any?
            .alert.alert-warning
              %h5= "#{pluralize(@visited_country.errors.count, "error")} prohibited this visited_country from being saved:"
              %ul
                - @visited_country.errors.full_messages.each do |msg|
                  %li= msg
          .input-group
            = f.label :description
            = f.text_field :description, placeholder: 'Description', class: 'form-control'
            = f.hidden_field :country_id, value: (params[:country_id] || @visited_country.country.try(:id))
          .input-group
            = f.label :start_date
            = f.text_field :start_date, placeholder: 'Start date', required: '', class: 'form-control cal', value: params[:action] == 'new' ? Date.today.to_s : f.object.start_date
          .input-group
            = f.label :end_date
            = f.text_field :end_date, placeholder: 'End date', required: '', class: 'form-control cal', value: params[:action] == 'new' ? Date.today.to_s : f.object.end_date
          %br/
          .input-group
            = f.submit 'Save', class: 'btn btn-primary form-control'
