%tr.data-visited{class: "#{'success' if visited_country.end_date < Date.today}"}
  %td= visited_country.country.name
  %td= visited_country.country.money_name
  %td= visited_country.country.money_code
  %td= visited_country.country.money_symbol
  %td= visited_country.start_date
  %td= visited_country.end_date
  %td= visited_country.description
  - unless params['user_id']
    - if can? :manage, visited_country
      %td= link_to 'Edit', edit_visited_country_path(visited_country, country_id: visited_country.country_id), remote: true
      %td= link_to 'Destroy', visited_country, :method => :delete, :data => { :confirm => 'Are you sure?' }
