:plain
  $('#myModal').modal('hide');
  $('.ui-datepicker-div').remove();
  $('.modal-backdrop').remove();
  $('#myModal').remove();
  $('body').removeClass('modal-open');
  $('.data-row').remove();
  $("#filter").after("#{ j render @non_visited_countries }");
  $('.data-visited').remove();
  $("#visited").after("#{ j render @visited_countries }");
