%h1 Visited countries

%table.table.visited
  %tr#visited
    %th Name
    %th Money name
    %th Money code
    %th Money symbol
    %th Start date
    %th End date
    %th Description
    - unless params['user_id']
      %th
      %th
  = render @visited_countries

%hr/
- unless params['user_id']
  %h2 You can visit these countries to collect the missing currency
  %table.table.all-countries
    %tr#filter
      %th.col-md-4 Name
      %th.col-md-1 Code
      %th.col-md-3.money_filter
        Money name
        = filter :money_name
      %th.col-md-2 Money code
      %th.col-md-2 Money symbol
    = render @non_visited_countries

