:plain
  $('#myModal').modal('hide');
  $('#myModal').remove();
  $('body').append("#{ j render partial: 'visited_countries/form' }");
  $('#myModal').modal({
    keyboard:true,
    backdrop:true,
    show:true
  });
  $(".cal").datepicker({ dateFormat: "yy-mm-dd" });
