%tr.data-row
  %td.col-md-4
    - if current_user.nil? || @all_user_countries.include?(country.id)
      = country.name
    - else
      = link_to country.name, new_visited_country_path(country_id: country.id), remote: true
  %td.col-md-1= country.code
  %td.col-md-3= country.money_name
  %td.col-md-2= country.money_code
  %td.col-md-2= country.money_symbol
