%h1 Listing countries

%table.table
  %tr
    %th Name
    %th Code
    %th Money name
    %th Money code
    %th Money symbol
  %tr#filter
    %td= filter :name
    %td= filter :code
    %td= filter :money_name
    %td= filter :money_code
    %td= filter :money_symbol
  = render @countries