// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-bottom: 40px;
}

.new_user, .edit_user {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  .form-signin-heading, .checkbox {
    margin-bottom: 10px;
  }
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 10px;
    &:focus {
      z-index: 2;
    }
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.spinner {
  position: absolute;
  left: 50%;
  z-index: 5000;
  width: 30px;
  height: 30px;
  background: url('spinner.png') no-repeat;
}