!!!
%html
  %head
    %title Soap client
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    .spinner{style: 'display: none'}
    .container
      .row-fluid
        .well.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to 'Home', root_path
            %li= link_to 'Countries', countries_path
            - if current_user
              %li= link_to 'Visited countries', visited_countries_path
            - if current_user
              %li= link_to "(#{current_user.name}) Sign out", destroy_user_session_path, :method => :delete
            - else
              %li= link_to 'Sign in', new_user_session_path
        .span10
          - flash.each do |name, msg|
            - if msg.is_a?(String)
              .alert.alert-dismissable{class: "#{name == 'alert' ? 'alert-danger' : 'alert-info'}"}
                %a.close{data: {dismiss: :alert}} &times;
                = msg
          = yield

